In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [32]:
df = pd.read_excel('Historical_data.xlsx')

In [33]:
df2 = df

In [34]:
df.head()

,customer_id,customer_age,job_type,marital,education,default,balance,housing_loan,personal_loan,communication_type,day_of_month,month,last_contact_duration,num_contacts_in_campaign,num_contacts_prev_campaign,prev_campaign_outcome,term_deposit_subscribed
0,id_32289,34.0,blue-collar,married,secondary,no,934.0,no,yes,cellular,18,nov,704,2.0,1,other,0
1,id_40992,41.0,blue-collar,married,primary,no,1352.0,yes,no,cellular,13,may,893,2.0,0,unknown,0
2,id_41178,57.0,blue-collar,married,primary,no,495.0,no,no,cellular,18,aug,796,4.0,0,unknown,1
3,id_35102,37.0,management,married,tertiary,no,650.0,yes,NaN,unknown,26,may,880,1.0,0,unknown,0
4,id_34750,29.0,technician,married,secondary,no,265.0,yes,no,cellular,19,aug,795,2.0,0,unknown,0

In [35]:
df.isnull().sum()

customer_id                     0
customer_age                  477
job_type                        0
marital                       107
education                       0
default                         0
balance                       277
housing_loan                    0
personal_loan                 113
communication_type              0
day_of_month                    0
month                           0
last_contact_duration           0
num_contacts_in_campaign       96
num_contacts_prev_campaign      0
prev_campaign_outcome           0
term_deposit_subscribed         0
dtype: int64

In [36]:
df['marital'] = df['marital'].replace(np.NaN,'unknown')
df['customer_age'] = df['customer_age'].replace(np.NaN,int(df['customer_age'].mean()))
df['personal_loan'] = df['personal_loan'].replace(np.NaN,'no')

In [37]:
df.isnull().sum()

customer_id                     0
customer_age                    0
job_type                        0
marital                         0
education                       0
default                         0
balance                       277
housing_loan                    0
personal_loan                   0
communication_type              0
day_of_month                    0
month                           0
last_contact_duration           0
num_contacts_in_campaign       96
num_contacts_prev_campaign      0
prev_campaign_outcome           0
term_deposit_subscribed         0
dtype: int64

In [38]:
balance = df['balance'].values.reshape(len(df),1)
result = df['term_deposit_subscribed'].values.reshape(len(df),1)
for item in np.argwhere(np.isnan(np.concatenate((balance,result),axis=1))):
  print(item)

[42  0]
[88  0]
[398   0]
[518   0]
[1037    0]
[1051    0]
[1057    0]
[1112    0]
[1162    0]
[1246    0]
[1313    0]
[1330    0]
[1571    0]
[1781    0]
[1814    0]
[1820    0]
[1824    0]
[1853    0]
[2009    0]
[2082    0]
[2206    0]
[2256    0]
[2537    0]
[2553    0]
[2623    0]
[2632    0]
[2652    0]
[2715    0]
[2766    0]
[2813    0]
[2940    0]
[3191    0]
[3224    0]
[3258    0]
[3453    0]
[3558    0]
[3752    0]
[3889    0]
[4073    0]
[4466    0]
[4546    0]
[4562    0]
[4724    0]
[4780    0]
[4800    0]
[4804    0]
[4999    0]
[5021    0]
[5034    0]
[5046    0]
[5084    0]
[5092    0]
[5226    0]
[5236    0]
[5361    0]
[5668    0]
[5863    0]
[5870    0]
[6059    0]
[6078    0]
[6106    0]
[6130    0]
[6147    0]
[6526    0]
[6542    0]
[6740    0]
[6881    0]
[6981    0]
[6992    0]
[7138    0]
[7156    0]
[7164    0]
[7566    0]
[7751    0]
[7766    0]
[7800    0]
[7844    0]
[7993    0]
[7995    0]
[8056    0]
[8144    0]
[8208    0]
[8385    0]
[8606    0]
[8732    0]
[8843    0]
[8943    0]
[8951    0]
[9274    0]
[9379    0]
[9440    0]
[9461    0]
[9487    0]
[9503    0]
[9577    0]
[9666    0]
[9779    0]
[9784    0]
[10043     0]
[10088     0]
[10127     0]
[10146     0]
[10149     0]
[10235     0]
[10247     0]
[10267     0]
[10306     0]
[10333     0]
[10357     0]
[10439     0]
[10568     0]
[10580     0]
[10604     0]
[10653     0]
[10662     0]
[10683     0]
[10708     0]
[10738     0]
[10757     0]
[10814     0]
[10847     0]
[10971     0]
[11107     0]
[11139     0]
[11444     0]
[11495     0]
[11515     0]
[11577     0]
[11720     0]
[11981     0]
[12057     0]
[12064     0]
[12067     0]
[12125     0]
[12171     0]
[12402     0]
[12448     0]
[12487     0]
[12488     0]
[12520     0]
[12584     0]
[12650     0]
[12730     0]
[12820     0]
[12909     0]
[12957     0]
[13183     0]
[13296     0]
[13540     0]
[13578     0]
[13671     0]
[14016     0]
[14300     0]
[14353     0]
[14417     0]
[14521     0]
[14540     0]
[14545     0]
[14575     0]
[14663     0]
[14853     0]
[14908     0]
[15073     0]
[15122     0]
[15155     0]
[15373     0]
[15494     0]
[15589     0]
[15624     0]
[15647     0]
[15652     0]
[15746     0]
[15796     0]
[15865     0]
[15875     0]
[15886     0]
[15899     0]
[15932     0]
[15975     0]
[16112     0]
[16212     0]
[16319     0]
[16333     0]
[16465     0]
[16590     0]
[16633     0]
[16680     0]
[16690     0]
[16860     0]
[17063     0]
[17113     0]
[17122     0]
[17129     0]
[17159     0]
[17164     0]
[17283     0]
[17388     0]
[17565     0]
[17647     0]
[17654     0]
[17713     0]
[18024     0]
[18135     0]
[18171     0]
[18180     0]
[18229     0]
[18291     0]
[18318     0]
[18333     0]
[18550     0]
[18701     0]
[18720     0]
[18727     0]
[18730     0]
[18874     0]
[19003     0]
[19113     0]
[19156     0]
[19293     0]
[19525     0]
[19534     0]
[19673     0]
[19686     0]
[19704     0]
[19736     0]
[19830     0]
[19867     0]
[19882     0]
[19935     0]
[19950     0]
[20072     0]
[20156     0]
[20162     0]
[20342     0]
[20379     0]
[20448     0]
[20460     0]
[20661     0]
[20883     0]
[20907     0]
[20936     0]
[21051     0]
[21059     0]
[21163     0]
[21262     0]
[21288     0]
[21303     0]
[21506     0]
[21533     0]
[21570     0]
[21858     0]
[21919     0]
[21982     0]
[22024     0]
[22078     0]
[22302     0]
[22305     0]
[22602     0]
[22630     0]
[22785     0]
[22789     0]
[22848     0]
[23075     0]
[23128     0]
[23165     0]
[23166     0]
[23195     0]
[23239     0]
[23282     0]
[23325     0]
[23496     0]
[23548     0]
[23552     0]
[23598     0]
[23628     0]
[23646     0]
[23778     0]

In [39]:
df.isnull().sum()

customer_id                     0
customer_age                    0
job_type                        0
marital                         0
education                       0
default                         0
balance                       277
housing_loan                    0
personal_loan                   0
communication_type              0
day_of_month                    0
month                           0
last_contact_duration           0
num_contacts_in_campaign       96
num_contacts_prev_campaign      0
prev_campaign_outcome           0
term_deposit_subscribed         0
dtype: int64

In [40]:
num = df['num_contacts_in_campaign'].values.reshape(len(df),1)
prev = df['num_contacts_prev_campaign'].values.reshape(len(df),1)

In [41]:
index = []
for i in np.argwhere(np.isnan(np.concatenate((num,prev),axis=1))):
  index.append(i[0])

con = np.concatenate((num,prev),axis=1)
for i in index:
  con[i][0] = con[i][1]
  # print(con[i])
dic = {}
for i in range(0,len(index)):
  dic[index[i]] = con[i][0]

print(dic)

{101: 2.0, 1071: 2.0, 1401: 4.0, 1808: 1.0, 1891: 2.0, 2246: 2.0, 2649: 2.0, 2772: 1.0, 2810: 6.0, 3156: 1.0, 3405: 1.0, 4109: 1.0, 4271: 1.0, 4337: 1.0, 4396: 1.0, 4465: 2.0, 4536: 2.0, 4734: 2.0, 5097: 1.0, 5213: 3.0, 5383: 3.0, 5598: 1.0, 5830: 2.0, 6185: 5.0, 6855: 2.0, 7366: 1.0, 7763: 2.0, 8659: 8.0, 8860: 3.0, 9269: 10.0, 9351: 6.0, 9685: 2.0, 9719: 5.0, 10098: 17.0, 10319: 1.0, 10480: 4.0, 10566: 1.0, 11640: 1.0, 11843: 2.0, 11865: 2.0, 11957: 3.0, 12017: 2.0, 12157: 1.0, 12217: 2.0, 12632: 1.0, 13182: 13.0, 13495: 30.0, 13808: 2.0, 13857: 1.0, 14753: 4.0, 14842: 2.0, 15603: 2.0, 15698: 2.0, 15892: 2.0, 15934: 1.0, 16095: 5.0, 16208: 2.0, 16250: 2.0, 16451: 1.0, 16578: 2.0, 16613: 2.0, 16664: 2.0, 16926: 1.0, 16975: 13.0, 17640: 2.0, 17827: 1.0, 17902: 6.0, 17927: 2.0, 18001: 6.0, 18442: 2.0, 19127: 1.0, 19658: 2.0, 19748: 4.0, 19761: 1.0, 19906: 2.0, 20077: 4.0, 20100: 4.0, 20195: 1.0, 20322: 2.0, 20529: 1.0, 20690: 4.0, 20833: 1.0, 20892: 1.0, 20966: 2.0, 21149: 10.0, 21285: 1.0, 21555: 2.0, 21623: 1.0, 21668: 1.0, 22117: 2.0, 22243: 1.0, 22554: 2.0, 22821: 1.0, 22963: 2.0, 23078: 11.0, 23345: 4.0}

In [42]:
n = df['num_contacts_in_campaign'].values

for i in range(0,len(n)):
  if i in dic:
    n[i] = dic[i]

df['num_contacts_in_campaign'] = pd.Series(n)

In [43]:
df.isnull().sum()

customer_id                     0
customer_age                    0
job_type                        0
marital                         0
education                       0
default                         0
balance                       277
housing_loan                    0
personal_loan                   0
communication_type              0
day_of_month                    0
month                           0
last_contact_duration           0
num_contacts_in_campaign        0
num_contacts_prev_campaign      0
prev_campaign_outcome           0
term_deposit_subscribed         0
dtype: int64

In [44]:
df = df.dropna()

In [45]:
df3 = df

In [46]:
df.head()

,customer_id,customer_age,job_type,marital,education,default,balance,housing_loan,personal_loan,communication_type,day_of_month,month,last_contact_duration,num_contacts_in_campaign,num_contacts_prev_campaign,prev_campaign_outcome,term_deposit_subscribed
0,id_32289,34.0,blue-collar,married,secondary,no,934.0,no,yes,cellular,18,nov,704,2.0,1,other,0
1,id_40992,41.0,blue-collar,married,primary,no,1352.0,yes,no,cellular,13,may,893,2.0,0,unknown,0
2,id_41178,57.0,blue-collar,married,primary,no,495.0,no,no,cellular,18,aug,796,4.0,0,unknown,1
3,id_35102,37.0,management,married,tertiary,no,650.0,yes,no,unknown,26,may,880,1.0,0,unknown,0
4,id_34750,29.0,technician,married,secondary,no,265.0,yes,no,cellular,19,aug,795,2.0,0,unknown,0

In [47]:
df.columns

Index(['customer_id', 'customer_age', 'job_type', 'marital', 'education',
       'default', 'balance', 'housing_loan', 'personal_loan',
       'communication_type', 'day_of_month', 'month', 'last_contact_duration',
       'num_contacts_in_campaign', 'num_contacts_prev_campaign',
       'prev_campaign_outcome', 'term_deposit_subscribed'],
      dtype='object')

In [48]:
df3 = df3.sort_values(by='balance')

In [49]:
count = 0
for item in df3['balance'].values:
  if item < 0 :
    count = count +1

print(count)

2960

In [50]:
i = 0
for item in zip(df3['balance'].values,df3['term_deposit_subscribed'].values):
  if i < 2960:
    if item[1] == 1:
      print(item)
    i = i+1
  if i == 2960:
    break

(-3060.0, 1)
(-1206.0, 1)
(-1047.0, 1)
(-927.0, 1)
(-838.0, 1)
(-798.0, 1)
(-778.0, 1)
(-766.0, 1)
(-750.0, 1)
(-721.0, 1)
(-635.0, 1)
(-627.0, 1)
(-560.0, 1)
(-557.0, 1)
(-537.0, 1)
(-531.0, 1)
(-524.0, 1)
(-524.0, 1)
(-524.0, 1)
(-524.0, 1)
(-523.0, 1)
(-483.0, 1)
(-475.0, 1)
(-470.0, 1)
(-468.0, 1)
(-456.0, 1)
(-456.0, 1)
(-451.0, 1)
(-443.0, 1)
(-404.0, 1)
(-397.0, 1)
(-397.0, 1)
(-384.0, 1)
(-380.0, 1)
(-379.0, 1)
(-376.0, 1)
(-372.0, 1)
(-369.0, 1)
(-318.0, 1)
(-312.0, 1)
(-306.0, 1)
(-302.0, 1)
(-278.0, 1)
(-277.0, 1)
(-274.0, 1)
(-271.0, 1)
(-264.0, 1)
(-264.0, 1)
(-256.0, 1)
(-247.0, 1)
(-247.0, 1)
(-246.0, 1)
(-245.0, 1)
(-244.0, 1)
(-241.0, 1)
(-213.0, 1)
(-212.0, 1)
(-204.0, 1)
(-202.0, 1)
(-200.0, 1)
(-194.0, 1)
(-191.0, 1)
(-189.0, 1)
(-187.0, 1)
(-173.0, 1)
(-168.0, 1)
(-161.0, 1)
(-149.0, 1)
(-108.0, 1)
(-107.0, 1)
(-107.0, 1)
(-105.0, 1)
(-97.0, 1)
(-94.0, 1)
(-93.0, 1)
(-92.0, 1)
(-90.0, 1)
(-84.0, 1)
(-84.0, 1)
(-65.0, 1)
(-59.0, 1)
(-52.0, 1)
(-52.0, 1)
(-51.0, 1)
(-50.0, 1)
(-45.0, 1)
(-44.0, 1)
(-40.0, 1)
(-39.0, 1)
(-38.0, 1)
(-36.0, 1)
(-35.0, 1)
(-34.0, 1)
(-33.0, 1)
(-31.0, 1)
(-25.0, 1)
(-25.0, 1)
(-22.0, 1)
(-22.0, 1)
(-20.0, 1)
(-15.0, 1)
(-14.0, 1)
(-6.0, 1)
(-6.0, 1)
(-5.0, 1)
(-5.0, 1)
(-5.0, 1)
(-5.0, 1)
(-5.0, 1)
(-5.0, 1)
(-5.0, 1)
(-5.0, 1)
(-5.0, 1)
(-5.0, 1)
(-5.0, 1)
(-5.0, 1)
(-5.0, 1)
(-5.0, 1)
(-5.0, 1)
(-4.0, 1)
(-4.0, 1)
(-4.0, 1)
(-4.0, 1)
(-4.0, 1)
(-4.0, 1)
(-4.0, 1)
(-4.0, 1)
(-4.0, 1)
(-4.0, 1)
(-4.0, 1)
(-4.0, 1)
(-4.0, 1)
(-4.0, 1)
(-4.0, 1)
(-4.0, 1)
(-3.0, 1)
(-3.0, 1)
(-3.0, 1)
(-3.0, 1)
(-3.0, 1)
(-3.0, 1)
(-3.0, 1)
(-3.0, 1)
(-3.0, 1)
(-3.0, 1)
(-3.0, 1)
(-3.0, 1)
(-3.0, 1)
(-3.0, 1)
(-3.0, 1)
(-3.0, 1)
(-3.0, 1)
(-3.0, 1)
(-3.0, 1)
(-2.0, 1)
(-2.0, 1)
(-2.0, 1)
(-2.0, 1)
(-2.0, 1)
(-2.0, 1)
(-2.0, 1)
(-2.0, 1)
(-2.0, 1)
(-2.0, 1)
(-2.0, 1)
(-2.0, 1)
(-2.0, 1)
(-2.0, 1)
(-2.0, 1)
(-2.0, 1)
(-2.0, 1)
(-2.0, 1)
(-1.0, 1)
(-1.0, 1)
(-1.0, 1)
(-1.0, 1)
(-1.0, 1)
(-1.0, 1)
(-1.0, 1)
(-1.0, 1)
(-1.0, 1)
(-1.0, 1)

In [51]:
X = df.iloc[:,1:-1].values
y = df.iloc[:,-1].values

In [52]:
print(X)

[[34.0 'blue-collar' 'married' ... 2.0 1 'other']
 [41.0 'blue-collar' 'married' ... 2.0 0 'unknown']
 [57.0 'blue-collar' 'married' ... 4.0 0 'unknown']
 ...
 [41.0 'unemployed' 'married' ... 2.0 0 'unknown']
 [48.0 'services' 'married' ... 6.0 0 'unknown']
 [38.0 'technician' 'single' ... 10.0 0 'unknown']]

In [53]:
print(y)

[0 0 1 ... 0 0 0]

In [54]:
df.columns

Index(['customer_id', 'customer_age', 'job_type', 'marital', 'education',
       'default', 'balance', 'housing_loan', 'personal_loan',
       'communication_type', 'day_of_month', 'month', 'last_contact_duration',
       'num_contacts_in_campaign', 'num_contacts_prev_campaign',
       'prev_campaign_outcome', 'term_deposit_subscribed'],
      dtype='object')

In [55]:
for item in df3.columns[2:]:
  if item not in ['default','balance','communication_type','month',
                  'last_contact_duration','num_contacts_in_campaign','num_contacts_prev_campaign'] :
    print(df3[item].value_counts())
    print()

blue-collar      5105
management       4957
technician       3924
admin.           2683
services         2204
retired          1156
self-employed     838
entrepreneur      767
unemployed        667
housemaid         652
student           496
unknown           154
Name: job_type, dtype: int64

married     14098
single       6635
divorced     2767
unknown       103
Name: marital, dtype: int64

secondary    12181
tertiary      6923
primary       3528
unknown        971
Name: education, dtype: int64

yes    13207
no     10396
Name: housing_loan, dtype: int64

no     19883
yes     3720
Name: personal_loan, dtype: int64

20    1424
18    1214
21    1049
6     1024
17    1020
5      985
7      962
14     950
8      946
28     925
19     917
29     912
15     891
12     847
30     823
11     815
9      810
13     807
4      755
16     744
2      635
3      591
27     575
26     531
23     506
22     484
25     431
31     354
10     261
24     236
1      179
Name: day_of_month, dtype: int64

unknown    19288
failure     2586
other        931
success      798
Name: prev_campaign_outcome, dtype: int64

0    21088
1     2515
Name: term_deposit_subscribed, dtype: int64

In [56]:

for item in df3.columns[2:]:
  if item not in ['default','balance','communication_type',
                  'last_contact_duration','num_contacts_in_campaign',
                  'num_contacts_prev_campaign','term_deposit_subscribed'] :
    print(pd.crosstab(df3[item],df3['term_deposit_subscribed']))
    print()

term_deposit_subscribed     0    1
job_type
admin.                   2406  277
blue-collar              4773  332
entrepreneur              705   62
housemaid                 604   48
management               4349  608
retired                   902  254
self-employed             738  100
services                 2022  182
student                   359  137
technician               3531  393
unemployed                564  103
unknown                   135   19

term_deposit_subscribed      0     1
marital
divorced                  2476   291
married                  12789  1309
single                    5728   907
unknown                     95     8

term_deposit_subscribed      0     1
education
primary                   3248   280
secondary                11023  1158
tertiary                  5967   956
unknown                    850   121

term_deposit_subscribed      0     1
housing_loan
no                        8778  1618
yes                      12310   897

term_deposit_subscribed      0     1
personal_loan
no                       17583  2300
yes                       3505   215

term_deposit_subscribed     0    1
day_of_month
1                         132   47
2                         545   90
3                         492   99
4                         657   98
5                         877  108
6                         943   81
7                         888   74
8                         862   84
9                         719   91
10                        205   56
11                        726   89
12                        736  111
13                        694  113
14                        862   88
15                        776  115
16                        649   95
17                        934   86
18                       1108  106
19                        869   48
20                       1328   96
21                        954   95
22                        408   76
23                        454   52
24                        212   24
25                        369   62
26                        473   58
27                        494   81
28                        866   59
29                        847   65
30                        681  142
31                        328   26

term_deposit_subscribed     0    1
month
apr                      1281  274
aug                      2911  313
dec                        62   48
feb                      1154  211
jan                       652   67
jul                      3291  276
jun                      2526  255
mar                       125  135
may                      6816  426
nov                      1892  192
oct                       218  165
sep                       160  153

term_deposit_subscribed      0     1
prev_campaign_outcome
failure                   2299   287
other                      794   137
success                    263   535
unknown                  17732  1556

In [57]:
df3['education'].value_counts()

secondary    12181
tertiary      6923
primary       3528
unknown        971
Name: education, dtype: int64

In [58]:
df3['month'].value_counts()

may    7242
jul    3567
aug    3224
jun    2781
nov    2084
apr    1555
feb    1365
jan     719
oct     383
sep     313
mar     260
dec     110
Name: month, dtype: int64